/* Prakhar Sahay 01/13/2015

This CSS serves index.php only.
*/


.suggestion{
	width:980px;height:80px;
	font-size:36px;line-height:80px;text-align:center;
	background-color:#369;color:#FFF;
	font-family:'Signika',sans-serif;
	position:absolute;
}
#sugg_stack{
	width:980px;padding:20px;/* true:1020,240*/
}
.r_arrow{
	position:absolute;top:50%;margin-top:-30px;right:50px;
	height:60px;
}
.l_arrow{
	position:absolute;top:50%;margin-top:-30px;left:50px;
	height:60px;
}


#righthand_content{
	/* true:510x370,css:490x350 */
	position:absolute;left:50%;top:5px;width:490px;height:350px;
	background-color:rgba(2,64,116,0.25);padding:10px;
}
#addcontent_index{
	position:absolute;top:375px;width:1020px;
}
#content_index{
	/* true:1020,css:1000 */
	width:1000px;padding:10px;background-color:rgba(2,64,116,0.25);
}
#content_contain{
	/* top = 168+388 */
	position:absolute;top:80px;width:1020px;margin-left:-510px;left:50%;
}
#slideshow_box{
	/* top = 133+35 */
	width:510px;height:370px;overflow:hidden;position:absolute;top:5px;
}
#left_arrow{position:absolute;top:135px;left:5px;cursor:pointer;}
#right_arrow{position:absolute;top:135px;right:5px;cursor:pointer;}

.slide_pic{
	left:50%;position:absolute;left:-510px;
}