/*
deep blue: 2,64,116,1 aka #024074
light blue: 2,64,116,0.5 not #8AA34F
highlighted blue: 2,64,116,0.75 not #6C8B30
*/

body{font-family:Arial,sans-serif}

#blue_strip{
	background-color:rgba(2,64,116,1);height:80px;position:absolute;top:0;width:1020px;left:50%;margin-left:-510px;
	color:white;letter-spacing:1px;/*background-image:url("res/blue_logo_250.png");background-repeat:no-repeat;
	background-position:-65px -5px;*/cursor:pointer;
}
#blue_img{
	position:absolute;top:12px;left:10px;cursor:pointer;
}
#blue_text{
	/* top = 25+46 */
	font-size:16px;font-family:"Lucida Sans Unicode";
	position:absolute;top:45px;left:25px;line-height:150%;
}
#menu_strip{
	/* width = 1020-180 */
	height:35px;width:840px;position:absolute;top:45px;left:180px;
}

.menu_tab{
	font-family:"Calibri";font-size:16px;letter-spacing:1px;height:35px;float:left;color:#CCC;
	color:white;line-height:35px;padding:0 20px;cursor:pointer;display:inline-block;position:relative;
}
.menu_tab:hover{
	text-shadow:0 0 3px #FA3;
}
.green_dropdown{background-color:rgba(2,64,116,0.9);position:absolute;width:30px;top:35px;z-Index:5;cursor:pointer;}
.green_label{line-height:40px;font-size:12px;color:#CCC;display:block;font-weight:bold;letter-spacing:1px}
.green_label:hover{color:white;}

#content_body{
	/* true:1020,css:1000 */
	position:absolute;top:85px;left:50%;width:1000px;margin-left:-510px;
	padding:10px;background-color:rgba(2,64,116,0.25);
}

.horiz_margin{height:5px;background-color:#369;/*background-color:#FA3*/}



/* NETWORK.html */
.net_node{
	width:100px;height:100px;position:absolute;left:0;top:0;
	margin-left:0;margin-top:0;
	border-radius:54px;border:4px solid #555;
}
.net_node:hover{
	border-radius:57px;border:7px solid #08F;margin:-3px;margin-top:-3px;
}
.mesa{font-family:'Ubuntu',sans-serif;font-size:16px;padding:5px;background-color:#444;
	border-radius:20px;border:#777 4px solid;color:white
}